.main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  gap: 40px 15px;
  grid-template-areas:
    'btns-simple btns-logos'
    'switch-wrap switch-wrap';
}

.btns-simple {
  justify-self: start;
  grid-area: btns-simple;
}

.btns-logos {
  justify-self: end;
  grid-area: btns-logos;
}

.switch-wrap {
  justify-self: center;
  grid-area: switch-wrap;
  display: flex;
  align-items: center;
  gap: 25px;
}

.btns-simple,
.btns-logos {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 9px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s cubic-bezier(0, 1, 0.5, 1);
    border-radius: 4px;

    &:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s cubic-bezier(0, 1, 0.5, 1);
      border-radius: 3px;
    }
  }

  input:checked + .slider {
    background-color: #52c944;
  }

  input:focus + .slider {
    box-shadow: 0 0 4px #7efa70;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }

  input:checked + .slider.red {
    background-color: #ca130c;
  }

  input:focus + .slider.red {
    box-shadow: 0 0 4px #ca130c;
  }
}

#round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}

input:checked + .slider.red {
  background-color: #ca130c;
}

.switch-content {
  font-size: 18px;
  font-weight: 500;
}
