@import '/src/styles/components/homeBtn';

.main-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.slider-cont {
  width: 1208px;
  height: 434px;
  overflow-x: auto;

  @media (max-width: 1440px) {
    width: 906px;
  }

  @media (max-width: 1080px) {
    height: 390px;
  }

  @media (max-width: 984px) {
    width: 678px;
  }

  @media (max-width: 984px) {
    width: 452px;
  }

  &::-webkit-scrollbar {
    height: 13px;
    transition: all 0.2s ease-in;
  }

  &::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #83141f;
    border-radius: 10px;

    &:hover {
      background: darken(#83141f, 10%);
    }
  }
}

.slider {
  display: flex;
}

.item {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: solid 1px #f0f0f0;

  @media (max-width: 1080px) {
    width: 224px;
  }

  &__text {
    font-size: 14px;
    padding: 10px;
  }
}
